@inherits LayoutComponentBase

<div class="flex flex-col h-screen overflow-hidden bg-background text-on-surface">
    <RepoTabBar />
    <ActionBar />
    <div class="flex flex-1 overflow-hidden">
        <SplitContainer TSize="int" Orientation="SplitterOrientation.Vertical" FirstPaneSize="256">
            <FirstPane><NavMenu /></FirstPane>
            <SecondPane>@Body</SecondPane>
        </SplitContainer>
    </div>
    <AddRepoModal />
</div>
